header{
  margin-bottom: 64px;
}

h1 {
  font-size: 48px;
  color: rgb(71, 62, 62);
  margin: 0;
}

h2{
  color: rgb(78, 13, 5);
}

a{
  background-color: rgb(167, 1, 78);
  color: white;
  border-radius: 4px;
  padding: 13px 48px;
  font-size: 24px;
  display: inline-block;
}

a:hover{
  background-color: rgb(180, 12, 90);
  text-decoration: none;
}

ol{
  list-style: none;
  color: rgb(49, 38, 38);
  padding: 0;
  width: 500px;
  margin: 40px auto;
}

li{
  background-color: rgb(223, 136, 124);
  border-radius: 6px;
  margin: 32px 0;
  padding: 16px;
  box-shadow: 1px 1px 4px  rgba(0, 0, 5, 0.2);
}

.daily-goal{
  margin: 12px;
  color: rgb(71, 29, 22);
}

#description{
  margin: 20px 0;
}



